h3 {
    margin-bottom:5px;
}

p {
    margin:5px;
}

/* home/collection page */

.layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item {
  background: white;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
}

.item img {
  width: 100%;
}

.remove-overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
    padding: 0;
}

.remove-checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.2s ease;
}

.item:hover .remove-checkbox {
    opacity: 1;
}

.flashes {
  list-style: none;
  padding: 0;
  margin:10px 10px;
}
