/*
* Author: Jordan Nguyen
* Date: 11/3/2025
*/


/* formatting */
* {
  font-family: 'Inter', sans-serif;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding:0;
  background-color: #f0f0f5;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h3 {
  margin:0;
}

header {
  background-color: #3a5275;
  padding: 10px 20px;
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

header a.active {
  border-bottom: 2px solid white;
}

